<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhang">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".第一章.activity.DrawActivity" />
        <activity android:name=".第一章.activity.PathActivity" />
        <activity android:name=".第一章.activity.RegionActivity" />
        <activity android:name=".第一章.activity.CanvasActivity" />
        <activity android:name=".第二章.activity.AnimationTypeActivity" />
        <activity android:name=".第一章.FirstActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".第二章.SecondActivity" />
        <activity android:name=".第二章.activity.AnmationCodeActivity" />
        <activity android:name=".第二章.activity.AnimSampleActivity" />
        <activity android:name=".第三章.ThridActivity" />
        <activity android:name=".第三章.activity.ValueAnimatorBaseActivity" />
        <activity android:name=".第三章.activity.BoundLoadingActivity"></activity>
    </application>

</manifest>